.site-layout .site-layout-background {
    background: #fff;
}

.title{
    font-size: 20px;
    font-weight: bold;   
}

.content-container{
    padding: 24;
    min-height: 90%;
    max-width: 95%; 
    background: #fff;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left : 10%;
    margin-right: 10%;
    font-size: 20px;
    flex-direction: column; 
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}